body {
  background-color: rgba(250, 235, 215, 0.227);
}
main {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1.5px;
  display: grid;
  min-height: 100vh;
  align-content: center;
}

.container {
  width: min(80%, 700px);
  margin-inline: auto;
  display: grid;
  gap: 3rem;
  position: relative;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(4, 4, 33);
}

.title h1 {
  width: fit-content;
  position: relative;
}
.title h1::before {
  content: "";
  top: 90%;
  left: 50%;
  bottom: 0;
  background-color: #49a6e9;
  width: 70%;
  height: 10%;
  position: absolute;
  transform: translate(-50%);
}

.img {
  width: 80%;
  clip-path: circle(39% at 50% 50%);
  margin-inline: auto;
  margin-bottom: 1rem;
}

@media (min-width: 50em) {
  .img {
    width: 50%;
  }
}

.name {
  color: #49a6e9;
  text-transform: capitalize;
  font-size: 1.3rem;
}

.job {
  text-transform: capitalize;
}

.text {
  margin-top: 1rem;
}

.slider-wrapper {
  width: 90%;
  margin-inline: auto;
}

.button {
  position: absolute;
  background-color: #49a6e9;
  border: none;
  color: white;
  padding: 0.2em 0.5em;
  border-radius: 5px;
  cursor: pointer;
}

.prev {
  top: 50%;
  right: 100%;
}

.next {
  top: 50%;
  left: 100%;
}

.slider-container {
  display: flex;
  position: relative;
  gap: 1.5rem;
  overflow: hidden;
  height: 450px;
  text-align: center;
  transition: all 250ms ease-in-out;
}

.slider {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.active {
  opacity: 1;
}
.next {
  transform: translateX(100%);
}

.end {
  transform: translateX(-100%);
}
